@import 'resources';

.poem
{
	padding: 1em;
}

.poem-header
{
	text-align: center;
	margin-bottom: 2em;
}

.poem-title
{
	font-size: 2em;
	margin-bottom: 0;
	line-height: 1.25em;
}

.poem-date-time
{
	margin-left: 1em;
	&:before
	{
		content: \25F4;
	}
}

.poem-content
{
	line-height: 1.5em;

	p
	{
		margin: 0;
		padding-left: 2em;
		text-indent: -2em;
	}
}

.poem-block
{
	margin: 1em 0;
}

.poem-img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}